
#backgnd {
     background: linear-gradient(to bottom right, #e6a3ff, #b0c5fc);
     height: 100%;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.thumbnail {
    width: 300px;
    height: 160px;
    align-content: center;
}

.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}


#video {
    position: fixed;
    min-width: 50%;
    min-height: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

#feedVideo {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    transform:rotate(90deg);
}

/* body{
    background-image: url("videos/Image from iOS.mp4");
}
#feedpage{
    background-image: url("videos/Images from iOS.mp4");
} */

#venture {
min-width: 5%;
min-height: 5%;


}

#email {
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px
     z-index: 1;
 }

  #username{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
 }

#password {
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}




#existusername{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#existpassword {
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#jointheadv{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#next{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#signup
{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#signin {
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#signup2{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}



#plus{
    background-color:#951dc1; 
    opacity: 0.7; 
    height: 70px;
    width: 100px;
}

#signin:hover{
    box-shadow: 4px 4px;
    background-color: red;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#wowc {

    border-radius: 50%;
}

#togglea{
    background-color: blue;
    width: 90px;
    height: 40px;

}

#togglen{
    width: 70px;
    height: 45px;

}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.tit1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;

    text-align: center;
    color: white;
    
    text-shadow: 2px 2px #b0c5fc;

    z-index: 1;
}

.tit2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;

    text-align: center;
    color: white;
    
    text-shadow: 5px 5px #b0c5fc;

    z-index: 1;
}

.bar1 {
  padding-top: 10px;
background:linear-gradient(to bottom right, #e6a3ff, #b0c5fc);}
@font-face{
    font-family: Squimpy;
    src: url(../ratchet/fonts/Squimpy.otf);
}

.name {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 75px;
    padding-bottom: 1px;
    color: #951dc1;
    text-shadow: 5px 5px #b0c5fc;
    z-index: 1;
    padding: 20px;
}


.catchphrase {
    font-family: "Montserrat";
    text-align: center;
    color: #951dc1;
    font-size: 50px;
    margin-top: -50px;

    text-shadow: 2px 2px #b0c5fc;

    z-index: 1;
}

p{
    font-family: "Montserrat";
    color: #951dc1;

text-shadow: 2px 2px #b0c5fc;
z-index: 1;
}

.signinsub {
    font-family: "Montserrat";
    text-align: center;
    color: #951dc1;
    margin-top: -50px;

    text-shadow: 2px 2px #b0c5fc;
    z-index: 1;
}

#googleMapsContainer {
  width: 100vw;
  height: 100vh;
}

.gm-style .gm-style-iw{
  font: 14px Montserrat;
}
#camerajs{
width: 100%;
height: 100vh;
background: black;

}
#camerabtn{
  position: fixed;
  left: 50%;
  width: 100px;
  bottom: 20px;
  transform: translateX(-50%);


