#video {
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


body{
    background-image: url("videos/Image from iOS.mp4");
}

#venture {
min-width: 10%;
min-height: 10%;
}

#email {
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px
     z-index: 1;
 }

  #username{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
 }

#password {
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}




#existusername{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#existpassword {
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
     font-family: "Montserrat";
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#jointheadv{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#next{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#signup
{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#signin {
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}

#signup2{
    box-shadow: 4px 4px;
    color: #600e34;
    opacity: 0.7;
    font-family: "Montserrat";
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     z-index: 1;
}


.name {
    font-family: "Pattaya";
    text-align: center;
    font-size: 50px;
    padding-bottom: 1px;
    color: #3c5db7;
    text-shadow: 5px 5px #9bb6ff; 
    z-index: 1;
}


.catchphrase {
    font-family: "Montserrat";
    text-align: center;
    color: #3c5db7;
    margin-top: -50px;
    text-shadow: 2px 2px #9bb6ff;
    z-index: 1;
}

p{
    font-family: "Montserrat";
    color: #3c5db7;
text-shadow: 2px 2px #9bb6ff;
z-index: 1;
}

.signinsub {
    font-family: "Montserrat";
    text-align: center;
    color: #3c5db7;
    margin-top: -50px;
    text-shadow: 2px 2px #9bb6ff;
    z-index: 1;
}

